body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #image-container {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #img {
    width: 300px;
    object-fit: cover;
    transition: opacity 2s;
  }
  
  #load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    transition: opacity 1.5s;
  }